PORT=8001
SESSION_SECRET=128-char-secret
DATABASE_URL="mongodb+srv://<username>:<password>@<cluster-url>/<database-name>?retryWrites=true&w=majority"
FRONTEND_URL="https://yourdomain.com"
NODE_ENV=production