PORT=8001
NODE_ENV=production
SESSION_SECRET=128-char-secret
DATABASE_URL="mongodb+srv://<username>:<password>@<cluster-url>/<database-name>?retryWrites=true&w=majority"
FRONTEND_URL="https://yourdomain.com"
SENTRY_DSN=https://public-key@organization.ingest.sentry.io/project-id
AWS_REGION=your-region-0
AWS_ACCESS_KEY_ID=access_key_id
AWS_SECRET_ACCESS_KEY=secret_access_key