PORT=8001
NODE_ENV=production
SESSION_SECRET=128-char-secret
DATABASE_URL="mongodb+srv://<username>:<password>@<cluster-url>/<database-name>?retryWrites=true&w=majority"
FRONTEND_URL="https://yourdomain.com"
SENTRY_DSN=https://public-key@organization.ingest.sentry.io/project-id
RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxxx